@page
@model ContactManager.Pages.Contacts.CreateModel
@{
    ViewData["Title"] = "Criar Contato";
}

<h1>Create Contact</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.ContactNumber" class="form-label"></label>
                <input asp-for="Input.ContactNumber" class="form-control" />
                <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-page="/Index" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}